body,html{
  font-family : sans-serif;
  font-size : 13px; 
}
h2{
  font-size : 30px;
  margin: 0 0 5px 0;
  padding:0px; 
}
div{
  position : relative; 
}
input[type=text]{
  margin : 10px 5px 10px 2px;
  border : 1px solid #ccc;
  width : 200px;
  padding  : 5px;
}
#top-ui{
  padding : 10px; 
  border-bottom : 1px solid #ccc;
  overflow : hidden;
}
#clear-all{
  margin-top : -32px;
}
#add-form{ 
  float : left; 
}
#task-container{
  margin : 0 10px 0 10px;
}
.title{
  padding-top : 4px;
  font-size : 20px; 
}

#clear-all{
  float : right; 
  margin-left : 50px;
}
.task-list{
  position : absolute;
  top : 100px;
  padding : 10px;
  border : 1px solid #ccc;
  float : left;
  width : 300px;
  background-color : white;
}
.task{
  padding : 5px; 
}
.close{
  float : right; 
}
.little-btn{
  float : left;
  cursor : pointer;
}
.little-btn:hover{
  color : red;
}
.feedback{
  padding-top : 5px; 
}

.complete{
  background-color : #c6e6c9 !important;
}
.complete .feedback{
  color : #518757;
}